node-red/flows.json
[{"id":"86879709.27b488","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"f42b5323.0d885","type":"tab","label":"HVAC","disabled":false,"info":""},{"id":"f1eac51d86232a37","type":"tab","label":"Scenari","disabled":false,"info":"","env":[]},{"id":"7efa80d9dd492102","type":"tab","label":"Azioni da notifiche","disabled":false,"info":"","env":[]},{"id":"eda6cdb2.e166a","type":"subflow","name":"nmap scan","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"307f8dd7.c3c852"}]}],"out":[{"x":694,"y":87,"wires":[{"id":"74131e2b.dae29","port":0}]},{"x":694,"y":167,"wires":[{"id":"74131e2b.dae29","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"21aaf2d9.e3ecbe","type":"subflow","name":"OLD - Single","info":"","category":"","in":[{"x":40,"y":220,"wires":[{"id":"50ad0dae.eb9d74"}]}],"out":[{"x":1400,"y":220,"wires":[{"id":"f43b2ad3.a8f1f8","port":0},{"id":"8c238ff1.f2e1c","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"704c4a2d.0c3884","type":"subflow","name":"OLD - Cyclic","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"e2dac0f6.36909"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"df3e74d0.6966b8","type":"subflow","name":"Continuous Calc Device Connection","info":"","category":"","in":[{"x":120,"y":160,"wires":[{"id":"e5452666.d03a88"}]}],"out":[{"x":1040,"y":160,"wires":[{"id":"4196e031.ce8d7","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ae06d5f1.16cb08","type":"subflow","name":"Single Calc Device Connection","info":"","category":"","in":[{"x":160,"y":380,"wires":[{"id":"c9f609aa.8ad258"}]}],"out":[{"x":920,"y":380,"wires":[{"id":"cdd718e6.ad4308","port":0},{"id":"bd74cda6.c1b78","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"f0620101.2cd79","type":"subflow","name":"Handle HVAC config","info":"","category":"","in":[{"x":27.10418701171875,"y":179.11111450195312,"wires":[{"id":"a6630717.c50938"},{"id":"52819654.bbbe78"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"a2ab3055.039d","type":"subflow","name":"HVAC timer","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"4f1b381f.84aa18"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b2096e98.98e0d","type":"server","name":"Home Assistant","addon":true},{"id":"e447d17a.16a64","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"c43bcf07.4070d","type":"exec","z":"eda6cdb2.e166a","command":"","addpay":"nmap_command","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nmap scan","x":390,"y":140,"wires":[["74131e2b.dae29"],[],[]]},{"id":"74131e2b.dae29","type":"switch","z":"eda6cdb2.e166a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^Host is up","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":564,"y":127,"wires":[[],[]]},{"id":"307f8dd7.c3c852","type":"function","z":"eda6cdb2.e166a","name":"nmap command","func":"msg.nmap_command = `nmap -sn ${msg.ip} | grep \"Host is up\"`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":140,"wires":[["c43bcf07.4070d"]]},{"id":"49bd293f.ab9d68","type":"api-call-service","z":"21aaf2d9.e3ecbe","name":"Set Connected","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.{{entity}}","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":860,"y":80,"wires":[[]]},{"id":"91595a93.2165f8","type":"debug","z":"21aaf2d9.e3ecbe","name":"Not Connected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":280,"wires":[]},{"id":"be4af8cd.9f8368","type":"debug","z":"21aaf2d9.e3ecbe","name":"Connected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":140,"wires":[]},{"id":"25f82c16.b13ba4","type":"api-call-service","z":"21aaf2d9.e3ecbe","name":"Set Disconnected","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_off","entityId":"input_boolean.{{entity}}","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":870,"y":340,"wires":[[]]},{"id":"a424607f.89ce8","type":"api-current-state","z":"21aaf2d9.e3ecbe","name":"Get Current Status","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.{{entity}}","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":200,"wires":[[],["be4af8cd.9f8368","49bd293f.ab9d68","f43b2ad3.a8f1f8"]]},{"id":"50ad0dae.eb9d74","type":"subflow:eda6cdb2.e166a","z":"21aaf2d9.e3ecbe","name":"nmap scan","env":[],"x":190,"y":220,"wires":[["a424607f.89ce8","3d0aa49d.242d4c"],["54890e73.089a2","5a3509ee.6b20c8"]]},{"id":"3d0aa49d.242d4c","type":"debug","z":"21aaf2d9.e3ecbe","name":"UP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":140,"wires":[]},{"id":"54890e73.089a2","type":"debug","z":"21aaf2d9.e3ecbe","name":"DOWN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"5a3509ee.6b20c8","type":"api-current-state","z":"21aaf2d9.e3ecbe","name":"Get Current Status","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.{{entity}}","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":240,"wires":[["91595a93.2165f8","25f82c16.b13ba4","8c238ff1.f2e1c"],[]]},{"id":"8c238ff1.f2e1c","type":"change","z":"21aaf2d9.e3ecbe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":240,"wires":[[]]},{"id":"f43b2ad3.a8f1f8","type":"change","z":"21aaf2d9.e3ecbe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":200,"wires":[[]]},{"id":"444087e9.088078","type":"change","z":"704c4a2d.0c3884","name":"Set slow delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"180000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[["bd721641.6dfce8"]]},{"id":"783e7208.2d658c","type":"trigger","z":"704c4a2d.0c3884","name":"Slow trigger","op1":"1","op2":"2","op1type":"str","op2type":"str","duration":"-600","extend":false,"overrideDelay":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1150,"y":80,"wires":[["c37a8efe.b768f","6bd5a4af.eac91c"]]},{"id":"6bd5a4af.eac91c","type":"debug","z":"704c4a2d.0c3884","name":"Slow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":80,"wires":[]},{"id":"b4b5e74f.07ba28","type":"change","z":"704c4a2d.0c3884","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":360,"wires":[["783e7208.2d658c"]]},{"id":"bb9e38ca.408b28","type":"change","z":"704c4a2d.0c3884","name":"Set fast interval","rules":[{"t":"set","p":"delay","pt":"msg","to":"10000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["7bdf460c.33e3e8"]]},{"id":"4ad4fc8c.b37464","type":"trigger","z":"704c4a2d.0c3884","name":"Fast trigger","op1":"1","op2":"2","op1type":"str","op2type":"str","duration":"-600","extend":false,"overrideDelay":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1130,"y":460,"wires":[["c37a8efe.b768f","ff696e1c.483c6"]]},{"id":"ff696e1c.483c6","type":"debug","z":"704c4a2d.0c3884","name":"Fast","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":460,"wires":[]},{"id":"90c64e4b.66462","type":"change","z":"704c4a2d.0c3884","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":160,"wires":[["4ad4fc8c.b37464"]]},{"id":"41dd96ba.670f98","type":"debug","z":"704c4a2d.0c3884","name":"ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":140,"wires":[]},{"id":"e2dac0f6.36909","type":"api-current-state","z":"704c4a2d.0c3884","name":"Connected","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.{{entity}}","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":280,"wires":[["41dd96ba.670f98","444087e9.088078"],["5e9d61fb.d62eb","bb9e38ca.408b28"]]},{"id":"5e9d61fb.d62eb","type":"debug","z":"704c4a2d.0c3884","name":"OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":420,"wires":[]},{"id":"c37a8efe.b768f","type":"subflow:21aaf2d9.e3ecbe","z":"704c4a2d.0c3884","name":"","env":[],"x":1210,"y":280,"wires":[["cab12013.5f851"]]},{"id":"bd721641.6dfce8","type":"delay","z":"704c4a2d.0c3884","name":"First delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":950,"y":80,"wires":[["783e7208.2d658c"]]},{"id":"7bdf460c.33e3e8","type":"delay","z":"704c4a2d.0c3884","name":"First delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":930,"y":460,"wires":[["4ad4fc8c.b37464"]]},{"id":"cab12013.5f851","type":"switch","z":"704c4a2d.0c3884","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":280,"wires":[["3a72568d.c6139a"],["c7d0029f.8400d"]]},{"id":"bfb287d.c1d4a78","type":"link in","z":"704c4a2d.0c3884","name":"","links":["3a72568d.c6139a"],"x":575,"y":180,"wires":[["444087e9.088078","90c64e4b.66462"]]},{"id":"3a72568d.c6139a","type":"link out","z":"704c4a2d.0c3884","name":"","links":["bfb287d.c1d4a78"],"x":1635,"y":240,"wires":[]},{"id":"c7d0029f.8400d","type":"link out","z":"704c4a2d.0c3884","name":"","links":["248be1db.9d394e"],"x":1635,"y":320,"wires":[]},{"id":"248be1db.9d394e","type":"link in","z":"704c4a2d.0c3884","name":"","links":["c7d0029f.8400d"],"x":575,"y":320,"wires":[["b4b5e74f.07ba28","bb9e38ca.408b28"]]},{"id":"dd36ae65.09162","type":"delay","z":"df3e74d0.6966b8","name":"Dynamic Delay","pauseType":"delayv","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":540,"y":160,"wires":[["4196e031.ce8d7"]]},{"id":"4196e031.ce8d7","type":"subflow:ae06d5f1.16cb08","z":"df3e74d0.6966b8","name":"","env":[],"x":790,"y":160,"wires":[["dd36ae65.09162"]]},{"id":"e5452666.d03a88","type":"api-call-service","z":"df3e74d0.6966b8","name":"Set Disconnected","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.{{entity}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":310,"y":160,"wires":[["dd36ae65.09162"]]},{"id":"30ff439d.8fbe7c","type":"api-call-service","z":"ae06d5f1.16cb08","name":"Set Connected","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.{{entity}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1260,"y":240,"wires":[[]]},{"id":"4a2ea12d.5accf","type":"api-current-state","z":"ae06d5f1.16cb08","name":"Get Current Status","server":"b2096e98.98e0d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.{{entity}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1030,"y":200,"wires":[[],["30ff439d.8fbe7c","f2a33bf6.a92558"]]},{"id":"c9f609aa.8ad258","type":"subflow:eda6cdb2.e166a","z":"ae06d5f1.16cb08","name":"nmap scan","env":[],"x":310,"y":380,"wires":[["cdd718e6.ad4308"],["bd74cda6.c1b78"]]},{"id":"56f2c2c9.a164fc","type":"api-call-service","z":"ae06d5f1.16cb08","name":"Set Disconnected","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_off","entityId":"input_boolean.{{entity}}","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":1350,"y":480,"wires":[[]]},{"id":"4b7bc21e.91301c","type":"debug","z":"ae06d5f1.16cb08","name":"Set Connection = OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entity","targetType":"jsonata","statusVal":"","statusType":"auto","x":1360,"y":560,"wires":[]},{"id":"cdd718e6.ad4308","type":"change","z":"ae06d5f1.16cb08","name":"Found","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"},{"t":"set","p":"down_cnt","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"delay","pt":"msg","to":"180000","tot":"num"},{"t":"set","p":"current_wait","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":320,"wires":[["4a2ea12d.5accf"]]},{"id":"d975469f.060f08","type":"api-current-state","z":"ae06d5f1.16cb08","name":"Get Current Status","server":"b2096e98.98e0d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.{{entity}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1130,"y":520,"wires":[["56f2c2c9.a164fc","4b7bc21e.91301c"],[]]},{"id":"bd74cda6.c1b78","type":"function","z":"ae06d5f1.16cb08","name":"Not Found","func":"let NMAP_WAIT = 2\nlet FAST_CNT = 30\nlet FAST_DELAY = 1\nlet SLOW_DELAY = 10\nlet wait = 0\n\nif ((msg.down_cnt === undefined) || (msg.down_cnt > 100000))\n  msg.down_cnt = 0;\nmsg.down_cnt++;\nmsg.payload = \"off\"\nif (msg.down_cnt < FAST_CNT)\n    msg.delay = FAST_DELAY * 1000\nelse\n    msg.delay = SLOW_DELAY * 1000\nif (msg.down_cnt > FAST_CNT) {\n    wait = ((FAST_CNT - 1) * FAST_DELAY) + (FAST_CNT * NMAP_WAIT) + (msg.down_cnt - FAST_CNT) * (SLOW_DELAY + NMAP_WAIT)\n} else {\n    wait = ((msg.down_cnt - 1) * FAST_DELAY) + (msg.down_cnt * NMAP_WAIT)\n}\nmsg.current_wait = wait\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":440,"wires":[["297cf13c.7945ce"]]},{"id":"f2a33bf6.a92558","type":"debug","z":"ae06d5f1.16cb08","name":"Set Connection = ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entity","targetType":"jsonata","statusVal":"","statusType":"auto","x":1280,"y":160,"wires":[]},{"id":"297cf13c.7945ce","type":"switch","z":"ae06d5f1.16cb08","name":"Wait discconn timeout","property":"current_wait","propertyType":"msg","rules":[{"t":"gte","v":"180","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":520,"wires":[["d975469f.060f08"]]},{"id":"bea7a102.4a9b5","type":"function","z":"f0620101.2cd79","name":"Compare with default","func":"out_msg = {};\nout_msg.name = msg.name;\nout_msg.mode = msg.mode;\n\nif ((msg.mode == msg.data.event.new_state.state) &&\n    (msg.temp == msg.data.event.new_state.attributes.temperature) &&\n    ((msg.fan_mode == msg.data.event.new_state.attributes.fan_mode) ||\n     ((msg.fan_mode == 0) && (msg.data.event.new_state.attributes.fan_mode == \"auto\"))) &&\n    (msg.v_mode == msg.data.event.new_state.attributes.swing_mode) &&\n    (msg.h_mode == msg.data.event.new_state.attributes.vane_horizontal))\n  out_msg.payload = true;\nelse\n  out_msg.payload = false;\n\nreturn out_msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":567.1041870117188,"y":139.11111450195312,"wires":[["dee58d27.035aa","6334e5fa.1b352c"]]},{"id":"f3332aca.50a3e8","type":"api-call-service","z":"f0620101.2cd79","name":"HVAC default OFF","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_off","entityId":"input_boolean.hvac_{{name}}_{{mode}}_def","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":937.1041870117188,"y":139.11111450195312,"wires":[[]]},{"id":"dee58d27.035aa","type":"switch","z":"f0620101.2cd79","name":"If false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":757.1041870117188,"y":139.11111450195312,"wires":[["f3332aca.50a3e8","5b4501c7.c2557"]]},{"id":"a6630717.c50938","type":"switch","z":"f0620101.2cd79","name":"Climate attributes are changed","property":"topic","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"'climate.hvac_' & name = topic","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":297.10418701171875,"y":139.11111450195312,"wires":[["bea7a102.4a9b5"]]},{"id":"52819654.bbbe78","type":"switch","z":"f0620101.2cd79","name":"Input boolean is changed","property":"topic","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"'input_boolean.hvac_' & name & '_' & mode & '_def' = topic","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":287.10418701171875,"y":259.1111145019531,"wires":[["c490f735.0f3a68","fafaa347.a2b3a","6f6bdb6f.837db4","f5307cbd.a0d98","ac04246d.139928","428ece96.e45e","4c2e7762.dcc288","f0f9886d.ff9338","e287f8bc.be2bc8","74653ee1.77ed1"]]},{"id":"c490f735.0f3a68","type":"api-call-service","z":"f0620101.2cd79","name":"Set Mode","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"set_hvac_mode","entityId":"climate.hvac_{{name}}","data":"{ \"hvac_mode\" : \"{{mode}}\"}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"climate","mergecontext":"","x":587.1041870117188,"y":259.1111145019531,"wires":[[]]},{"id":"6f6bdb6f.837db4","type":"api-call-service","z":"f0620101.2cd79","name":"Set Fan Mode","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"set_fan_mode","entityId":"climate.hvac_{{name}}","data":"{ \"fan_mode\" : \"{{fan_mode}}\"}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"climate","mergecontext":"","x":605.1041870117188,"y":340.1111145019531,"wires":[[]]},{"id":"f5307cbd.a0d98","type":"api-call-service","z":"f0620101.2cd79","name":"Set Vertical Position","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"set_swing_mode","entityId":"climate.hvac_{{name}}","data":"{ \"swing_mode\" : \"{{v_mode}}\"}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"climate","mergecontext":"","x":627.1041870117188,"y":380.1111145019531,"wires":[[]]},{"id":"ac04246d.139928","type":"api-call-service","z":"f0620101.2cd79","name":"Set Horizontal Position","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"select_option","entityId":"input_select.hvac_{{name}}_hvane","data":"{ \"option\" : \"{{h_mode}}\"}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_select","mergecontext":"","x":628,"y":421,"wires":[[]]},{"id":"fafaa347.a2b3a","type":"api-call-service","z":"f0620101.2cd79","name":"Set Temperature","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"set_temperature","entityId":"climate.hvac_{{name}}","data":"{ \"temperature\" : \"{{temp}}\"}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"climate","mergecontext":"","x":606,"y":298,"wires":[[]]},{"id":"881860e5.ca49","type":"debug","z":"f0620101.2cd79","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":260,"y":80,"wires":[]},{"id":"7a44cca4.355fc4","type":"debug","z":"f0620101.2cd79","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":220,"wires":[]},{"id":"25bb1711.9695c8","type":"debug","z":"f0620101.2cd79","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":80,"wires":[]},{"id":"710c9306.bba38c","type":"debug","z":"f0620101.2cd79","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":80,"wires":[]},{"id":"5b4501c7.c2557","type":"api-call-service","z":"f0620101.2cd79","name":"HVAC all default OFF","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_off","entityId":"input_boolean.hvac_all_{{mode}}_def","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":947.1041870117188,"y":179.11111450195312,"wires":[[]]},{"id":"428ece96.e45e","type":"api-current-state","z":"f0620101.2cd79","name":"Living is ON","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.hvac_living_{{mode}}_def","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":591.1041870117188,"y":487.111083984375,"wires":[["b8edc8dd.967ad8"],["b8edc8dd.967ad8"]]},{"id":"4c2e7762.dcc288","type":"api-current-state","z":"f0620101.2cd79","name":"Bedroom is ON","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.hvac_bedroom_{{mode}}_def","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":601.1041870117188,"y":528.111083984375,"wires":[["2b13f7fc.0aa388"],["2b13f7fc.0aa388"]]},{"id":"f0f9886d.ff9338","type":"api-current-state","z":"f0620101.2cd79","name":"Study is ON","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.hvac_study_{{mode}}_def","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":588.1041870117188,"y":568.111083984375,"wires":[["1a6fcc87.a21d33"],["1a6fcc87.a21d33"]]},{"id":"e287f8bc.be2bc8","type":"api-current-state","z":"f0620101.2cd79","name":"Tommy is ON","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.hvac_tommy_{{mode}}_def","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":598.1041870117188,"y":605.111083984375,"wires":[["c00e252c.5b3578"],["c00e252c.5b3578"]]},{"id":"b8edc8dd.967ad8","type":"function","z":"f0620101.2cd79","name":"","func":"return { \n    topic: 'living_state',\n    payload: msg.payload\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":781,"y":490,"wires":[["494860f5.a93e5"]]},{"id":"2b13f7fc.0aa388","type":"function","z":"f0620101.2cd79","name":"","func":"return { \n    topic: 'bedroom_state',\n    payload: msg.payload\n    \n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":779,"y":529,"wires":[["494860f5.a93e5"]]},{"id":"1a6fcc87.a21d33","type":"function","z":"f0620101.2cd79","name":"","func":"return { \n    topic: 'study_state',\n    payload: msg.payload\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":779,"y":567,"wires":[["494860f5.a93e5"]]},{"id":"c00e252c.5b3578","type":"function","z":"f0620101.2cd79","name":"","func":"return { \n    topic: 'tommy_state',\n    payload: msg.payload\n    \n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":779,"y":605,"wires":[["494860f5.a93e5"]]},{"id":"494860f5.a93e5","type":"join","z":"f0620101.2cd79","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":970,"y":640,"wires":[["d1443ff1.a6aab"]]},{"id":"d1443ff1.a6aab","type":"function","z":"f0620101.2cd79","name":"","func":"return {\n    payload: (msg.payload.living_state === \"on\") && (msg.payload.bedroom_state === \"on\") && (msg.payload.study_state === \"on\") && (msg.payload.tommy_state === \"on\"),\n    mode: msg.payload.mode\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":640,"wires":[["d946ec3d.e5a69"]]},{"id":"d946ec3d.e5a69","type":"switch","z":"f0620101.2cd79","name":"If true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":720,"wires":[["628baacc.ac3584"]]},{"id":"628baacc.ac3584","type":"api-call-service","z":"f0620101.2cd79","name":"HVAC all default ON","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.hvac_all_{{mode}}_def","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":1180,"y":720,"wires":[[]]},{"id":"74653ee1.77ed1","type":"function","z":"f0620101.2cd79","name":"","func":"return { \n    topic: 'mode',\n    payload: msg.mode\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":660,"wires":[["494860f5.a93e5"]]},{"id":"6334e5fa.1b352c","type":"switch","z":"f0620101.2cd79","name":"If true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":761,"y":229,"wires":[["10f2897.9b75f77"]]},{"id":"10f2897.9b75f77","type":"api-call-service","z":"f0620101.2cd79","name":"HVAC default ON","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.hvac_{{name}}_{{mode}}_def","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":935,"y":229,"wires":[[]]},{"id":"a3c8f9cc.c9e228","type":"switch","z":"a2ab3055.039d","name":"Timer changed","property":"topic","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"mode = 'timer'","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":240,"wires":[["52b6fb2a.583fe4"]]},{"id":"3f1d198e.b861d6","type":"switch","z":"a2ab3055.039d","name":"HVAC state changed","property":"topic","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"mode = 'state'","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":100,"wires":[["26e08d59.fd65c2","64e153de.3d22cc"]]},{"id":"64e153de.3d22cc","type":"api-call-service","z":"a2ab3055.039d","name":"Reset timer","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"set_value","entityId":"input_number.hvac_{{name}}_timer","data":"{ \"value\": 0 }","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_number","mergecontext":"","x":650,"y":140,"wires":[[]]},{"id":"4f1b381f.84aa18","type":"function","z":"a2ab3055.039d","name":"Set name","func":"if (msg.topic.indexOf(\"input_number.hvac_\") === -1) {\n    name = msg.topic.replace(\"climate.hvac_\", \"\");\n    timer_val = null;\n    mode = 'state';\n} else {\n    name = msg.topic.replace(\"input_number.hvac_\", \"\");\n    name = name.replace(\"_timer\", \"\");\n    timer_val = parseFloat(msg.payload);\n    mode = 'timer';\n}\nreturn { name, mode, timer_val };\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":160,"wires":[["a3c8f9cc.c9e228","3f1d198e.b861d6"]]},{"id":"a967bd86.34ca6","type":"api-call-service","z":"a2ab3055.039d","name":"Set counter","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"set_value","entityId":"input_number.hvac_{{name}}_counter","data":"{\"value\": timer_val}","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_number","mergecontext":"","x":930,"y":240,"wires":[[]]},{"id":"438dd94c.9ed1a8","type":"api-current-state","z":"a2ab3055.039d","name":"Time out","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.hvac_{{name}}_counter","state_type":"num","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":480,"wires":[["2dc33ba9.520de4","271cc7cd.116a98"],[]]},{"id":"ba7176a1.7c5c98","type":"api-call-service","z":"a2ab3055.039d","name":"Decrement timer","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"decrement","entityId":"input_number.hvac_{{name}}_counter","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_number","mergecontext":"","x":590,"y":480,"wires":[["438dd94c.9ed1a8"]]},{"id":"2dc33ba9.520de4","type":"change","z":"a2ab3055.039d","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":480,"wires":[["eba0d8f8.3a1b68"]]},{"id":"eba0d8f8.3a1b68","type":"trigger","z":"a2ab3055.039d","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":370,"y":480,"wires":[["ba7176a1.7c5c98"]]},{"id":"52b6fb2a.583fe4","type":"api-current-state","z":"a2ab3055.039d","name":"HVAC is off","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.hvac_{{name}}","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":240,"wires":[["64e153de.3d22cc","26e08d59.fd65c2"],["8a47e100.7fa67","a967bd86.34ca6"]]},{"id":"271cc7cd.116a98","type":"api-call-service","z":"a2ab3055.039d","name":"Switch off HVAC","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"set_hvac_mode","entityId":"climate.hvac_{{name}}","data":"{\"hvac_mode\": \"off\"}","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"climate","mergecontext":"","x":990,"y":400,"wires":[[]]},{"id":"26e08d59.fd65c2","type":"api-call-service","z":"a2ab3055.039d","name":"Reset counter","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"set_value","entityId":"input_number.hvac_{{name}}_counter","data":"{ \"value\": 0 }","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_number","mergecontext":"","x":820,"y":80,"wires":[[]]},{"id":"8a47e100.7fa67","type":"delay","z":"a2ab3055.039d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":140,"y":480,"wires":[["eba0d8f8.3a1b68"]]},{"id":"5bde88e3.cbd7a8","type":"server-state-changed","z":"86879709.27b488","name":"Salvatore GPS","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.salvatore","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":121.0000114440918,"y":836.0000009536743,"wires":[[],["ddd34602.618d28"]]},{"id":"6775c3f9.6bb49c","type":"server-state-changed","z":"86879709.27b488","name":"Gloria GPS","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.gloria","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":103.00000762939453,"y":888.999997138977,"wires":[[],["10525821.7c7558"]]},{"id":"2c445e1f.06e752","type":"api-call-service","z":"86879709.27b488","name":"Set Home","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.home_occupied","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":521.0000114440918,"y":356.0000009536743,"wires":[["60648673.f647b8","ca65878c.95c0f8"]]},{"id":"ddd34602.618d28","type":"api-current-state","z":"86879709.27b488","name":"Gloria GPS","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.gloria","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":322.00000762939453,"y":841.999997138977,"wires":[[],["673673f6.cc5a3c"]]},{"id":"10525821.7c7558","type":"api-current-state","z":"86879709.27b488","name":"Salvatore GPS","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.salvatore","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":331.00003814697266,"y":895.000018119812,"wires":[[],["673673f6.cc5a3c"]]},{"id":"14cad1f.770872e","type":"api-call-service","z":"86879709.27b488","name":"Set Away","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_off","entityId":"input_boolean.home_occupied","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":749.8960342407227,"y":859.8888826370239,"wires":[["215d7121.affa6e","d13fec17.6bca8"]]},{"id":"c57f64d.2ccdf98","type":"server-state-changed","z":"86879709.27b488","name":"Gloria connected","server":"b2096e98.98e0d","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.gloria_connected","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130.99993133544922,"y":326.99996757507324,"wires":[["46317c8d.752174"],[]]},{"id":"1450f4bd.772edb","type":"server-state-changed","z":"86879709.27b488","name":"Salvatore connected","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.salvatore_connected","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":139.89580535888672,"y":376.8888530731201,"wires":[["46317c8d.752174"],[]]},{"id":"46317c8d.752174","type":"api-current-state","z":"86879709.27b488","name":"Home Occupied","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home_occupied","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":345.9999656677246,"y":349.99997329711914,"wires":[[],["2c445e1f.06e752"]]},{"id":"673673f6.cc5a3c","type":"api-current-state","z":"86879709.27b488","name":"Home Occupied","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home_occupied","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":545.8958511352539,"y":866.8888826370239,"wires":[["14cad1f.770872e"],[]]},{"id":"4c84a673.e72928","type":"api-call-service","z":"86879709.27b488","name":"iPhone notification","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"mobile_app_iphone_di_salvatore","entityId":"","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"notify","mergecontext":"","x":1411.0000114440918,"y":516.0000009536743,"wires":[[]]},{"id":"2bd6f171.644bae","type":"change","z":"86879709.27b488","name":"Notification message","rules":[{"t":"set","p":"tmp","pt":"msg","to":"payload","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.message","pt":"msg","to":"tmp","tot":"jsonata"},{"t":"delete","p":"tmp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1001.0000114440918,"y":456.0000009536743,"wires":[["4c84a673.e72928"]]},{"id":"215d7121.affa6e","type":"api-current-state","z":"86879709.27b488","name":"Lights on","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.luci","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":981.0000114440918,"y":796.0000009536743,"wires":[["da51d53a.abeeb8"],["c28a439.89d19c"]]},{"id":"d13fec17.6bca8","type":"api-current-state","z":"86879709.27b488","name":"Covers open","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.all","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":981.0000114440918,"y":936.0000009536743,"wires":[["f8c253fd.f5ed9"],["1b6a7600.a9d85a"]]},{"id":"962d3acd.0992b8","type":"join","z":"86879709.27b488","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1650,"y":880,"wires":[["430810a9.528d8"]]},{"id":"da51d53a.abeeb8","type":"change","z":"86879709.27b488","name":"parts.index = 0","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"luci accese","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226.9999809265137,"y":791.0000455379486,"wires":[["e4437350.9b31e"]]},{"id":"e4437350.9b31e","type":"change","z":"86879709.27b488","name":"group id and count","rules":[{"t":"set","p":"parts.id","pt":"msg","to":"mygroup","tot":"str"},{"t":"set","p":"parts.count","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":880,"wires":[["962d3acd.0992b8"]]},{"id":"f8c253fd.f5ed9","type":"change","z":"86879709.27b488","name":"parts.index = 1","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tapparelle aperte","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230.0000114440918,"y":931.0001211166382,"wires":[["e4437350.9b31e"]]},{"id":"e8a002ed.74b8c","type":"debug","z":"86879709.27b488","name":"notification","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1271.0000114440918,"y":616.0000009536743,"wires":[]},{"id":"c28a439.89d19c","type":"change","z":"86879709.27b488","name":"parts.index = 0","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"luci spente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226.895793914795,"y":845.5555875301361,"wires":[["e4437350.9b31e"]]},{"id":"1b6a7600.a9d85a","type":"change","z":"86879709.27b488","name":"parts.index = 1","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tapparelle chiuse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1231.9999961853027,"y":969.9999856948853,"wires":[["e4437350.9b31e"]]},{"id":"430810a9.528d8","type":"change","z":"86879709.27b488","name":"Notification message","rules":[{"t":"set","p":"tmp","pt":"msg","to":"$join(payload,\", \")","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.title","pt":"msg","to":"Casa vuota","tot":"str"},{"t":"set","p":"payload.data.message","pt":"msg","to":"tmp","tot":"jsonata"},{"t":"delete","p":"tmp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1001.0000114440918,"y":596.0000009536743,"wires":[["e8a002ed.74b8c","4c84a673.e72928"]]},{"id":"7567cb20.c806d4","type":"api-call-service","z":"86879709.27b488","name":"Alexa TTS","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"script.text_to_speech","data":"{\"entity_id\":\"script.text_to_speech\",\"variables\":{\"media_player_id\":\"media_player.2o_echo_dot_di_salvatore\",\"message\":\"{{payload}}\",\"volume_level\":25}}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"script","mergecontext":"","x":1711.0000114440918,"y":236.00000095367432,"wires":[[]]},{"id":"97aa42b4.63964","type":"api-current-state","z":"86879709.27b488","name":"Gloria connected","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.gloria_connected","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1051.0000114440918,"y":276.0000009536743,"wires":[["5c2ebf63.b188e"],["5c2ebf63.b188e"]]},{"id":"fa057c27.4cbef","type":"api-current-state","z":"86879709.27b488","name":"Salvatore connected","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.salvatore_connected","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1061.0000114440918,"y":216.00000095367432,"wires":[["5c2ebf63.b188e"],["5c2ebf63.b188e"]]},{"id":"94bc2765.7d2cd8","type":"debug","z":"86879709.27b488","name":"TTS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1531.0000038146973,"y":162.99999618530273,"wires":[]},{"id":"5c2ebf63.b188e","type":"function","z":"86879709.27b488","name":"Build message","func":"context.data = context.data || {}\nif (msg.data.entity_id == \"input_boolean.gloria_connected\") {\n    if (msg.data.state == \"on\") context.data.gloria_home = true\n    else                        context.data.gloria_home = false\n}\nif (msg.data.entity_id == \"input_boolean.salvatore_connected\") {\n    if (msg.data.state == \"on\") context.data.salvatore_home = true\n    else                        context.data.salvatore_home = false\n}\nif (context.data.gloria_home != null && context.data.salvatore_home != null)\n{\n    if (context.data.gloria_home && context.data.salvatore_home)\n        msg = { \"payload\": \"Bentornati a casa\" }\n    else if (context.data.gloria_home)\n        msg = { \"payload\": \"Bentornata a casa, Gloria\" }\n    else if (context.data.salvatore_home)\n        msg = { \"payload\": \"Bentornato a casa, Salvatore\" }\n    context.data = null\n} else msg = null\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1301.0000038146973,"y":242.99999618530273,"wires":[["94bc2765.7d2cd8","b21cc280.2046c","2bd6f171.644bae"]]},{"id":"60648673.f647b8","type":"api-call-service","z":"86879709.27b488","name":"Call welcome scene","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"script.welcome","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"script","mergecontext":"","x":761.0000114440918,"y":276.0000009536743,"wires":[[]]},{"id":"b21cc280.2046c","type":"time-range-switch","z":"86879709.27b488","name":"","lat":"41.85157814930541","lon":"12.478328347206117","startTime":"09:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":1531.0000038146973,"y":242.99999618530273,"wires":[["7567cb20.c806d4"],[]]},{"id":"ca65878c.95c0f8","type":"delay","z":"86879709.27b488","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":781.0000114440918,"y":356.0000009536743,"wires":[["97aa42b4.63964","fa057c27.4cbef"]]},{"id":"87b1cff3.c7617","type":"inject","z":"86879709.27b488","name":"Salvatore","props":[{"p":"entity","v":"salvatore_connected","vt":"str"},{"p":"ip","v":"192.168.1.202","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","x":140,"y":60,"wires":[[]]},{"id":"c3c9c962.57bee8","type":"inject","z":"86879709.27b488","name":"Gloria","props":[{"p":"entity","v":"gloria_connected","vt":"str"},{"p":"ip","v":"192.168.1.201","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"15","topic":"","x":130,"y":160,"wires":[[]]},{"id":"d7f9f727.2bad78","type":"subflow:df3e74d0.6966b8","z":"86879709.27b488","name":"","env":[],"x":420,"y":60,"wires":[["d2186fc2.9dd89"]]},{"id":"bffa4757.d4ec28","type":"subflow:df3e74d0.6966b8","z":"86879709.27b488","name":"","env":[],"x":420,"y":160,"wires":[["56e9498a.58e9e8"]]},{"id":"d2186fc2.9dd89","type":"debug","z":"86879709.27b488","name":"Info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entity & \"=\" & payload & \" down_cnt=\" & down_cnt & \" delay=\" & delay & \" current_wait=\" & current_wait","targetType":"jsonata","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"56e9498a.58e9e8","type":"debug","z":"86879709.27b488","name":"Info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entity & \"=\" & payload & \" down_cnt=\" & down_cnt & \" delay=\" & delay & \" current_wait=\" & current_wait","targetType":"jsonata","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]},{"id":"f3aee2d7.b8bc7","type":"subflow:f0620101.2cd79","z":"f42b5323.0d885","name":"","env":[],"x":980,"y":900,"wires":[]},{"id":"93cc8dee.388f3","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC bedroom dry def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_bedroom_dry_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":600,"y":380,"wires":[["10c540d8.35eeaf"],[]]},{"id":"10c540d8.35eeaf","type":"change","z":"f42b5323.0d885","name":"HVAC bedroom dry default","rules":[{"t":"set","p":"mode","pt":"msg","to":"dry","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"29","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"1","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"1_up","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":440,"wires":[["f3aee2d7.b8bc7"]]},{"id":"2ac39f2c.96864","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC study dry def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_study_dry_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":610,"y":500,"wires":[["baaa5f09.a99ce"],[]]},{"id":"baaa5f09.a99ce","type":"change","z":"f42b5323.0d885","name":"HVAC study dry default","rules":[{"t":"set","p":"mode","pt":"msg","to":"dry","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"28","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"1","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"1_up","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"study","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":560,"wires":[["f3aee2d7.b8bc7"]]},{"id":"3b00f088.6cbf3","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC Tommy dry def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_tommy_dry_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":600,"y":620,"wires":[["5294ab04.396744"],[]]},{"id":"5294ab04.396744","type":"change","z":"f42b5323.0d885","name":"HVAC Tommy dry default","rules":[{"t":"set","p":"mode","pt":"msg","to":"dry","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"27","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"1","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"1_up","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"1_left","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"tommy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":680,"wires":[["f3aee2d7.b8bc7"]]},{"id":"9cdd586c.4ef6d8","type":"trigger-state","z":"f42b5323.0d885","name":"HVAC living changed","server":"b2096e98.98e0d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.hvac_living","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"property","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"0","propertyValue":"new_state.attributes.temperature"}],"inputs":0,"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorType":"is","comparatorValue":"","comparatorValueDataType":"str","comparatorPropertyValue":""}],"outputinitially":true,"state_type":"str","x":160,"y":880,"wires":[["8747bf6e.5f178","dfaa4e5e.4b93b","652e7a59.13b0a4"],[],[]]},{"id":"8747bf6e.5f178","type":"change","z":"f42b5323.0d885","name":"HVAC living dry default","rules":[{"t":"set","p":"mode","pt":"msg","to":"dry","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"27","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"0","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"1_up","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"living","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":320,"wires":[["f3aee2d7.b8bc7"]]},{"id":"1349a212.93484e","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC living dry def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_living_dry_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":610,"y":260,"wires":[["8747bf6e.5f178"],[]]},{"id":"94845df9.49f7","type":"trigger-state","z":"f42b5323.0d885","name":"HVAC bedroom changed","server":"b2096e98.98e0d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.hvac_bedroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"property","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"0","propertyValue":"new_state.attributes.temperature"}],"inputs":0,"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorType":"is","comparatorValue":"","comparatorValueDataType":"str","comparatorPropertyValue":""}],"outputinitially":true,"state_type":"str","x":170,"y":960,"wires":[["10c540d8.35eeaf","bb36628b.5a6a2","9d3cdaf.b8fa228"],[],[]]},{"id":"ba4523fb.21c64","type":"trigger-state","z":"f42b5323.0d885","name":"HVAC study changed","server":"b2096e98.98e0d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.hvac_study","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"property","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"0","propertyValue":"new_state.attributes.temperature"}],"inputs":0,"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorType":"is","comparatorValue":"","comparatorValueDataType":"str","comparatorPropertyValue":""}],"outputinitially":true,"state_type":"str","x":160,"y":1040,"wires":[["baaa5f09.a99ce","d23ca79.8345f58","fac185e9.641ce8"],[],[]]},{"id":"236c3023.5339e","type":"trigger-state","z":"f42b5323.0d885","name":"HVAC Tommy changed","server":"b2096e98.98e0d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.hvac_tommy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"property","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"0","propertyValue":"new_state.attributes.temperature"}],"inputs":0,"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorType":"is","comparatorValue":"","comparatorValueDataType":"str","comparatorPropertyValue":""}],"outputinitially":true,"state_type":"str","x":170,"y":1100,"wires":[["5294ab04.396744","fbab109b.821bb","b3d3b481.cf3728"],[],[]]},{"id":"76eb99b5.fb8ab8","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC bedroom heat def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_bedroom_heat_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":630,"y":860,"wires":[["bb36628b.5a6a2"],[]]},{"id":"57ade46b.9f7e5c","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC study heat def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_study_heat_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":620,"y":980,"wires":[["d23ca79.8345f58"],[]]},{"id":"3d2a0498.549c7c","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC Tommy heat def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_tommy_heat_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":600,"y":1100,"wires":[["fbab109b.821bb"],[]]},{"id":"dfaa4e5e.4b93b","type":"change","z":"f42b5323.0d885","name":"HVAC living heat default","rules":[{"t":"set","p":"mode","pt":"msg","to":"heat","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"27","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"0","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"living","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":820,"wires":[["f3aee2d7.b8bc7"]]},{"id":"42ed16a2.630bc8","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC living heat def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_living_heat_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":610,"y":760,"wires":[["dfaa4e5e.4b93b"],[]]},{"id":"bb36628b.5a6a2","type":"change","z":"f42b5323.0d885","name":"HVAC bedroom heat default","rules":[{"t":"set","p":"mode","pt":"msg","to":"heat","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"27","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"0","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":920,"wires":[["f3aee2d7.b8bc7"]]},{"id":"d23ca79.8345f58","type":"change","z":"f42b5323.0d885","name":"HVAC study heat default","rules":[{"t":"set","p":"mode","pt":"msg","to":"heat","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"27","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"0","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"study","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1040,"wires":[["f3aee2d7.b8bc7"]]},{"id":"fbab109b.821bb","type":"change","z":"f42b5323.0d885","name":"HVAC Tommy heat default","rules":[{"t":"set","p":"mode","pt":"msg","to":"heat","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"27","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"0","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"tommy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1160,"wires":[["f3aee2d7.b8bc7"]]},{"id":"945de23c.968b4","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC bedroom cool def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_bedroom_cool_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":610,"y":1380,"wires":[["9d3cdaf.b8fa228"],[]]},{"id":"1cfb3509.4b6ebb","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC study cool def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_study_cool_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":610,"y":1500,"wires":[["fac185e9.641ce8"],[]]},{"id":"5aa4eda4.aa5894","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC Tommy cool def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_tommy_cool_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":600,"y":1620,"wires":[["b3d3b481.cf3728"],[]]},{"id":"ee3c8950.d8a8f8","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC living cool def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_living_cool_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":610,"y":1260,"wires":[["652e7a59.13b0a4"],[]]},{"id":"9d3cdaf.b8fa228","type":"change","z":"f42b5323.0d885","name":"HVAC bedroom cool default","rules":[{"t":"set","p":"mode","pt":"msg","to":"cool","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"23","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"0","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"1_up","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1440,"wires":[["f3aee2d7.b8bc7"]]},{"id":"fac185e9.641ce8","type":"change","z":"f42b5323.0d885","name":"HVAC study cool default","rules":[{"t":"set","p":"mode","pt":"msg","to":"cool","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"23","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"0","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"1_up","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"study","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1560,"wires":[["f3aee2d7.b8bc7"]]},{"id":"b3d3b481.cf3728","type":"change","z":"f42b5323.0d885","name":"HVAC Tommy cool default","rules":[{"t":"set","p":"mode","pt":"msg","to":"cool","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"23","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"0","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"1_up","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"1_left","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"tommy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1680,"wires":[["f3aee2d7.b8bc7"]]},{"id":"652e7a59.13b0a4","type":"change","z":"f42b5323.0d885","name":"HVAC living cool default","rules":[{"t":"set","p":"mode","pt":"msg","to":"cool","tot":"str"},{"t":"set","p":"temp","pt":"msg","to":"23","tot":"str"},{"t":"set","p":"fan_mode","pt":"msg","to":"0","tot":"jsonata"},{"t":"set","p":"v_mode","pt":"msg","to":"1_up","tot":"str"},{"t":"set","p":"h_mode","pt":"msg","to":"swing","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"living","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1320,"wires":[["f3aee2d7.b8bc7"]]},{"id":"cd89493a.e241d8","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC all dry def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_all_dry_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":80,"wires":[["6ac1f55d.394afc"],[]]},{"id":"9fdb41fc.2f5a8","type":"api-call-service","z":"f42b5323.0d885","name":"HVAC living default ON","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.hvac_living_{{mode}}_def","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":650,"y":60,"wires":[[]]},{"id":"3f353b2d.ed3bc4","type":"api-call-service","z":"f42b5323.0d885","name":"HVAC bedroom default ON","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.hvac_bedroom_{{mode}}_def","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":660,"y":100,"wires":[[]]},{"id":"2b2248fc.1404d8","type":"api-call-service","z":"f42b5323.0d885","name":"HVAC study default ON","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.hvac_study_{{mode}}_def","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":650,"y":140,"wires":[[]]},{"id":"d89897f.653af68","type":"api-call-service","z":"f42b5323.0d885","name":"HVAC Tommy default ON","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.hvac_tommy_{{mode}}_def","data":"","dataType":"jsonata","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":650,"y":180,"wires":[[]]},{"id":"6ac1f55d.394afc","type":"change","z":"f42b5323.0d885","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"dry","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":347,"y":73,"wires":[["9fdb41fc.2f5a8","3f353b2d.ed3bc4","2b2248fc.1404d8","d89897f.653af68"]]},{"id":"d5061c0e.7247c","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC all cool def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_all_cool_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":140,"wires":[["a8fb4e9a.7f45b"],[]]},{"id":"a8fb4e9a.7f45b","type":"change","z":"f42b5323.0d885","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"cool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":347,"y":133,"wires":[["9fdb41fc.2f5a8","3f353b2d.ed3bc4","2b2248fc.1404d8","d89897f.653af68"]]},{"id":"92b493df.014aa","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC all heat def","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.hvac_all_heat_def","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":200,"wires":[["57c59cdb.bcf394"],[]]},{"id":"57c59cdb.bcf394","type":"change","z":"f42b5323.0d885","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":347,"y":193,"wires":[["9fdb41fc.2f5a8","3f353b2d.ed3bc4","2b2248fc.1404d8","d89897f.653af68"]]},{"id":"655fd2d1.a7cf5c","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC study timer","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.hvac_study_timer","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":450,"y":2040,"wires":[["9616dd71.e48f2"],[]]},{"id":"ef6fc63e.efccb8","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC study switch OFF","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.hvac_study","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":430,"y":1960,"wires":[["9616dd71.e48f2"],[]]},{"id":"f9b3e3f0.a59f4","type":"trigger-state","z":"f42b5323.0d885","name":"HVAC study switch ON","server":"b2096e98.98e0d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.hvac_study","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"inputs":0,"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorType":"is","comparatorValue":"","comparatorValueDataType":"str","comparatorPropertyValue":""}],"outputinitially":true,"state_type":"str","x":430,"y":2000,"wires":[["9616dd71.e48f2"],[],[]]},{"id":"9616dd71.e48f2","type":"subflow:a2ab3055.039d","z":"f42b5323.0d885","name":"","env":[],"x":850,"y":1860,"wires":[]},{"id":"71260dcd.39e7f4","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC liiving timer","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.hvac_living_timer","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":530,"y":1820,"wires":[["9616dd71.e48f2"],[]]},{"id":"9111ac6f.f5036","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC living switch OFF","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.hvac_living","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":520,"y":1740,"wires":[["9616dd71.e48f2"],[]]},{"id":"bede4ebe.145ff","type":"trigger-state","z":"f42b5323.0d885","name":"HVAC living switch ON","server":"b2096e98.98e0d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.hvac_living","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"inputs":0,"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorType":"is","comparatorValue":"","comparatorValueDataType":"str","comparatorPropertyValue":""}],"outputinitially":true,"state_type":"str","x":520,"y":1780,"wires":[["9616dd71.e48f2"],[],[]]},{"id":"c04b0d45.7f6c2","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC bedroom timer","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.hvac_bedroom_timer","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":1940,"wires":[["9616dd71.e48f2"],[]]},{"id":"1d50eaa8.6e6225","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC bedroom switch OFF","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.hvac_bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":1860,"wires":[["9616dd71.e48f2"],[]]},{"id":"cce9cc24.17a0c","type":"trigger-state","z":"f42b5323.0d885","name":"HVAC bedroom switch ON","server":"b2096e98.98e0d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.hvac_bedroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"inputs":0,"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorType":"is","comparatorValue":"","comparatorValueDataType":"str","comparatorPropertyValue":""}],"outputinitially":true,"state_type":"str","x":140,"y":1900,"wires":[["9616dd71.e48f2"],[],[]]},{"id":"9beeb348.12d7d","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC Tommy timer","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.hvac_tommy_timer","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":730,"y":2120,"wires":[["9616dd71.e48f2"],[]]},{"id":"1a0c663e.b5769a","type":"server-state-changed","z":"f42b5323.0d885","name":"HVAC Tommy switch OFF","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.hvac_tommy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":710,"y":2040,"wires":[["9616dd71.e48f2"],[]]},{"id":"f2f458e6.3aa678","type":"trigger-state","z":"f42b5323.0d885","name":"HVAC Tommy switch ON","server":"b2096e98.98e0d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.hvac_tommy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"inputs":0,"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorType":"is","comparatorValue":"","comparatorValueDataType":"str","comparatorPropertyValue":""}],"outputinitially":true,"state_type":"str","x":710,"y":2080,"wires":[["9616dd71.e48f2"],[],[]]},{"id":"fb753e01d4efbb48","type":"server-events","z":"f1eac51d86232a37","name":"","server":"b2096e98.98e0d","version":2,"eventType":"call_service","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":110,"y":280,"wires":[["8ca5be4351aec716"]]},{"id":"8ca5be4351aec716","type":"switch","z":"f1eac51d86232a37","name":"DOMAIN is script","property":"payload.event.domain","propertyType":"msg","rules":[{"t":"eq","v":"script","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":280,"wires":[["e3a241fc52a0ca1d","20c3f964f65d7d9b","2791482edc1c735e"]]},{"id":"e3a241fc52a0ca1d","type":"switch","z":"f1eac51d86232a37","name":"SCRIPT is sleeping_on","property":"payload.event.service","propertyType":"msg","rules":[{"t":"eq","v":"sleeping_on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":40,"wires":[["3d34a7f0fd0e5095","3d8ab214c7ebeeb7","d8bc5426f08fe189"]]},{"id":"3d34a7f0fd0e5095","type":"api-call-service","z":"f1eac51d86232a37","name":"Lucina ON","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.lucina_notte"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":40,"wires":[[]]},{"id":"3d8ab214c7ebeeb7","type":"api-call-service","z":"f1eac51d86232a37","name":"Tapp. camera chiuse","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":160,"wires":[[]]},{"id":"20c3f964f65d7d9b","type":"switch","z":"f1eac51d86232a37","name":"SCRIPT is sleeping_off","property":"payload.event.service","propertyType":"msg","rules":[{"t":"eq","v":"sleeping_off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":160,"wires":[["936caca8a8ae186e","0c5143f8dfe97a13"]]},{"id":"936caca8a8ae186e","type":"api-call-service","z":"f1eac51d86232a37","name":"Lucina OFF","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.lucina_notte"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":240,"wires":[[]]},{"id":"0c5143f8dfe97a13","type":"api-call-service","z":"f1eac51d86232a37","name":"Tapp. camera aperte","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":300,"wires":[[]]},{"id":"d8bc5426f08fe189","type":"api-call-service","z":"f1eac51d86232a37","name":"Luce camera OFF","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.flos_ariette"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":100,"wires":[[]]},{"id":"cad8e341eb621e9f","type":"comment","z":"f1eac51d86232a37","name":"Bimbe","info":"","x":350,"y":100,"wires":[]},{"id":"2791482edc1c735e","type":"switch","z":"f1eac51d86232a37","name":"SCRIPT is goodmorning","property":"payload.event.service","propertyType":"msg","rules":[{"t":"eq","v":"goodmorning","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":440,"wires":[["afe2ee4542b0e34e"]]},{"id":"afe2ee4542b0e34e","type":"api-current-state","z":"f1eac51d86232a37","name":"Sono a casa","server":"b2096e98.98e0d","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.iphone14pro_di_salvatore","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":440,"wires":[["1d29cad6c9c87709","4a97700df624cfa5","bf0195861944ac10"],[]]},{"id":"4a97700df624cfa5","type":"api-call-service","z":"f1eac51d86232a37","name":"Tapp. zona giorno aperte","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.zona_giorno"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":400,"wires":[[]]},{"id":"1d29cad6c9c87709","type":"api-call-service","z":"f1eac51d86232a37","name":"Buongiorno, che vuoi fare?","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone14pro_di_salvatore","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Che vuoi fare?\",\"title\":\"Buongiorno\",\"data\":{\"item\":\"prova\",\"actions\":[{\"action\":\"GM_OPEN\",\"title\":\"Apri tutto\"},{\"action\":\"GM_OPEN_COMMON\",\"title\":\"Apri solo le zone comuni\"},{\"action\":\"GM_OPEN_NOT_TOMMY\",\"title\":\"Lascia dormire Tommy\"},{\"action\":\"GM_OPEN_NOT_TWINS\",\"title\":\"Lascia dormire le bimbe\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":480,"wires":[[]]},{"id":"93908aedf7db28c5","type":"comment","z":"f1eac51d86232a37","name":"Buongiorno","info":"","x":350,"y":440,"wires":[]},{"id":"bf0195861944ac10","type":"api-call-service","z":"f1eac51d86232a37","name":"Lucina OFF","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.lucina_notte"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":440,"wires":[[]]},{"id":"ffda5bb12a4d5947","type":"server-events","z":"7efa80d9dd492102","name":"mobile notification actions","server":"b2096e98.98e0d","version":2,"eventType":"mobile_app_notification_action","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":170,"y":280,"wires":[["bab8c9047e9429d7"]]},{"id":"bab8c9047e9429d7","type":"switch","z":"7efa80d9dd492102","name":"Buongiorno, che vuoi fare?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"GM_OPEN","vt":"str"},{"t":"eq","v":"GM_OPEN_COMMON","vt":"str"},{"t":"eq","v":"GM_OPEN_NOT_TOMMY","vt":"str"},{"t":"eq","v":"GM_OPEN_NOT_TWINS","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":480,"y":100,"wires":[["86b846c8b01cdfe4"],["9711c461dbb0eedd"],["ae227e84b49bd79b"],["076a26231e0b526a"]]},{"id":"86b846c8b01cdfe4","type":"api-call-service","z":"7efa80d9dd492102","name":"Apri tutto","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.all"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":40,"wires":[[]]},{"id":"9711c461dbb0eedd","type":"api-call-service","z":"7efa80d9dd492102","name":"Apri solo le zone comuni","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bathroom","cover.study"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":80,"wires":[[]]},{"id":"ae227e84b49bd79b","type":"api-call-service","z":"7efa80d9dd492102","name":"Lascia dormire Tommy","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bathroom","cover.bedroom","cover.study"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":120,"wires":[[]]},{"id":"076a26231e0b526a","type":"api-call-service","z":"7efa80d9dd492102","name":"Lascia dormire le bimbe","server":"b2096e98.98e0d","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bathroom","cover.study","cover.tommy"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":160,"wires":[[]]}]